{% extends "productos/base.html" %}

{% block title %}
Cart
{% endblock %}




{% block body %}
{% if product_list %}
{% for producto in product_list %}

<div class="row cart">
    <div class="column">
        <p id="url"  data-url="{% url 'buy'%}" hidden></p>
        {% if producto.urlImg %}
        <img src="{{ producto.urlImg }}" alt="" class="picture">
        {% endif %}
    </div>
    <div class="column data">
        <p class=cart-name>{{ producto.name }}</p>
        <p class="price">${{ producto.variant.finalPrice}}</p>
    </div>
    <div class="column cantidad">
        <div class="form-group">
            <label>Cantidad:</label>
            <input type="number" class="form-control cantidad1"  min="1" value="1" name='cantidad'>
        </div>
    </div>
    <div class="column column-btn">
        <a class="btn btn-primary column" href="{% url 'delete' producto.id%}">Delete</a>
    </div>
    <p class="idVarianteProducto" hidden>{{ producto.variant.id}}</p>
</div>


{% endfor %}
<div class="row comprar">
    <div class="column total">
        <p id="total">Total:</p>
    </div>
    <div class="column">
        <button class="btn btn-primary" id="btn-comprar">Comprar</button>
    </div>
</div>
{% else %}
    <div class="empty_cart">
        <h2>El carrito esta vacio</h2>
    </div>
{% endif %} 

<form id="form-data" method='POST' action="{% url 'buy' %}" hidden>
    {% csrf_token %}
    <div class="form-group">
        <input id="data"type="text" name="data">
    </div>
</form>
{% endblock %}



