body{
    background-color: #ECF0F1;
}

.img-div{
    border-bottom: 1px solid #D7DBDD;
    /* padding-bottom: 10px; */
    
}

.picture{
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 50px 20px;
  margin-bottom: 100px;
}

.grid-item {
  background-color:white;
  text-align: center;
  height: 400px; 
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}


.navbar-light{
     background-color: #FBFCFC;
     margin-bottom: 40px;
}


.form-inline{
    margin-left: auto;
    margin-right: auto;
}

.name{
    font-size: small;
    margin: 4px;
}

.price{
    margin-top: 40px;
    margin-left: 0;
    text-align: left;
    width: 200px;
}

.price p{
    width: 100px;
    padding-left: 15px;
}
.price a{
   margin-left: auto;
   margin-right: auto;
}

.cart{
    height: 140px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-bottom: 1px solid #D7DBDD;
}

.cart img{
    width: 100px;
    margin-left: 20px;
}

.column-btn{
    margin-left: 30%;
    margin-top: 50px;
}

.empty_cart{
    text-align: center;
    margin-top: 40px;
}

.comprar{
margin-top: 20px;
margin-left: 70%;
}

.data{
    padding-top: 20px;
    width: 25%;
}

.data p{
    margin: 3px;
}

.cart-name{
    font-size: 17px;
    font-weight: 600;
    color: rgb(149, 149, 149);
}

.form-control{
  width: 70px;
}

.cantidad{
    padding-top: 22px;
    margin-left: 10%;
}

.total{
    margin-top: 10px;
    margin-right: 50px;
}

@media only screen and (max-width: 1100px) {
  
.grid-container {
  
  grid-template-columns: auto auto auto;
  
}

.column-btn{
    margin-left: 20%;
}


.cantidad{
    padding-top: 22px;
    margin-left: 10%;
}

}

@media only screen and (max-width: 800px) {
  
.grid-container {
  
  grid-template-columns: auto auto;
  
}

.column-btn{
    margin-left: 5%;
   
}

.cantidad{
    padding-top: 22px;
    margin-left: 5px;
}

.cart img{
    margin-left: 5px;
}

}
@media only screen and (max-width: 500px) {
  
.grid-container {
  
  grid-template-columns: auto;
  
}

.column-btn{
    margin-left: 5px;
   
}

.cantidad{
    padding-top: 22px;
    margin-left: 6px;
}

.cart img{
    width: 40px;
    margin-top: 40px;
    margin-left: 0;
}

.cart-name{
    font-size: 12px;
    font-weight: 400;
}

.form-control{
  width: 40px;
}

}